<!-- {% load socialaccount %}
<h1 align="Center">Welcome to A25's website</h1>
<div class = "navigation" style = "margin:auto; width:50%; border: 2px solid rgb(35, 190, 175)">
    <ul class="nav justify-content-end">

        <li class="nav-item">
            <a href="{% provider_login_url 'google'%}">Click here to start</a>
            {% if user.is_authenticated %}
                {% if user.type == "tut" %}
                    <a href="/{{user.email}}/tutor">Profile</a>
                {% else %}
                    <a href="/{{user.email}}/student">Profile</a>
                {% endif %}
            {% endif %}
        </li>
      </ul>

</div>
This stuff is the older version, if need to revert then uncomment above -->

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% bootstrap_messages %}

{% load socialaccount %}
<link rel="stylesheet" href="style.css">

<!-- <link rel="stylesheet" href="{% static 'welcome/style.css' %}"> -->

<!-- Feel free to change anything you want! -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d98a8c3ef0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- MAIN CSS -->
    <!-- <link rel="stylesheet" href="{% static 'welcome/style.css' %}"> -->
    <link rel="stylesheet" href="style.css">

  </head>
</html>

<!-- <body style="background-color:#D3D3D3;">
    {% block content %}
    <div class="text-primary">
        <h1 class="Display-1" align="Center">Welcome to A25's website</h1>
    </div>

    <div class="p-3 mb-2 bg-light text-dark" style = "margin:auto; width:50%; border: 2px solid rgb(105, 107, 107)">
        <div class="d-flex align-items-center flex-column bd-highlight mb-3">
                <div class="p-2 bd-warning"><a href="{% provider_login_url 'google'%}">Click here to start</a></div>
                {% if user.is_authenticated %}
                            {% if user.type == "tut" %}
                                <div class="p-2 bd-highlight"><a href="/{{user.email}}/tutor">Profile</a></div>
                            {% else %}
                                <div class="p-2 bd-highlight"><a href="/{{user.email}}/student">Profile</a></div>
                            {% endif %}
                        {% endif %}
        </div>
    </div>
    {% endblock content%}
</body> -->

<body>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <!-- <a class="navbar-brand" href="#">Tutor Me Logo</a> -->
        <!-- <img src="{% static 'welcome/images/tutormelogo.jpeg' %}" width="50" height="50" alt="Tutor Me Logo"> -->
        <img src="tutormelogo.jpeg" width="50" height="50" alt="Tutor Me Logo">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/welcome/">Home</a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.type == "tut" %}
                        <li class="nav-item">
                            <a class="nav-link" href="/{{user.email}}/tutor">Profile</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/{{user.email}}/student">Profile</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user.type == "tut" %}
                        <li class="nav-item">
                            <a class="nav-link" href="/welcome/selectClass/">Add Tutoring Classes</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/welcome/selectClass">Schedule Tutoring</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-form">Contact Us</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'account_logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'account_login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </div>
        <div class="collapse" id="sidebar">
        <div class="bg-light" style="width: 200px;">
            <ul class="list-group list-group-flush">
            <li class="list-group-item active">Menu</li>
            <li class="list-group-item">Profile</li>
            <li class="list-group-item">Messages</li>
            <li class="list-group-item">Settings</li>
            <li class="list-group-item">Log Out</li>
            </ul>
        </div>
        </div>
    </nav>
    
    <!-- HOME -->
    <section class="intro-title" id="intro-title">
        <div class="overlay"></div>
        <div class="text-box">
            <h1>Tutor Me</h1>
            <p>Connecting students and tutors</p>
            <a href="{% provider_login_url 'google'%}" class="start-button">Get started</a>

        </div>
        
    </section>
         
        

    <section class="about" id="about">
        <h1>About</h1>
        <p>Tutor Me serves as a platform to connect tutors and students efficiently at UVA! Students who need academic assistance can easily search for classes in various subjects and request a tutor who fits their requirements. </p>
        <div class="about-icons">
            <div class="row">
                <div>
                    <h3>Register</h3>
                    <i class="fas fa-user fa-3x"></i>
                </div>
                <div>
                    <h3>Search for classes</h3>
                    <i class="fas fa-search fa-3x"></i>
                </div>
                <div>
                    <h3>Find tutors/students</h3>
                    <i class="fas fa-handshake fa-3x"></i>
                </div>
            </div>
        </div>

    </section>

    <section id="contact" data-stellar-background-ratio="0.5">
        <div class="container">
                <div class="row">
  
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title">
                            <h2>Contact Us</h2>
                        </div>
                    </div>
  
                    <div class="col-md-8 col-sm-8">
                          
                        <!-- CONTACT FORM HERE -->
                        <form id="contact-form" action="" role="form" method="post">
                            {% csrf_token %}
                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control" placeholder="Full Name" id="cf-name" name="cf-name" required="">
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <select class="form-control" id="cf-about" name="cf-about">
                                     <option>About You</option>
                                     <option>Student</option>
                                     <option>Tutor</option>
                                     <option>Other</option>
                                </select>
                           </div>

                            <div class="col-md-6 col-sm-6">
                                <input type="email" class="form-control" placeholder="Your Email" id="cf-email" name="cf-email" required="">
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <input type="tel" class="form-control" placeholder="Subject" id="cf-number" name="cf-number" required="">
                            </div>
  
                            <div class="col-md-12 col-sm-12">
                                <textarea class="form-control" rows="6" placeholder="Message" id="cf-message" name="cf-message" required=""></textarea>
                            </div>
  
                            <div class="col-md-4 col-sm-12">
                                <!-- <input type="submit" class="form-control" name="submit" value="Send Message"> -->
                                <a class="form-submit" name="submit" href="/welcome/">Send Message</a>
                            </div>
  
                        </form>
                    </div>
  
                    <div class="col-md-4 col-sm-4">
                        <div class="google-map">
                            <iframe src= "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3142.663706355263!2d-78.51302922017962!3d38.03161877981289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b387de913a5b07%3A0xb964f7ee988d1b26!2sRice%20Hall!5e0!3m2!1sen!2sus!4v1679765876403!5m2!1sen!2sus" allowfullscreen></iframe>
                        </div>
                    </div>
  
                </div>
        </div>
    </section>

    <!-- FOOTER -->
<footer class="footer-bottom bg-dark text-white">
    <br>
    <div class="container d-flex justify-content-center py-4">
      <div class="row">
        <div class="col-md-6">
          <h4>About Us</h4>
          <p>Tutor Me serves as a platform to connect tutors and students efficiently at UVA!</p>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
  
          <!-- Twitter -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>
          <!-- Instagram -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
          <!-- Linkedin -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
    
        </div>
        <div class="col-md-3">
          <h4>Links</h4>
          <ul class="list-unstyled">
            <li><a href="/welcome/">Home</a></li>
            <li><a href="#">Tutors</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Contact Us</h4>
          <ul class="list-unstyled">
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@tutorme.com</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> 1-800-800-8000</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> 85 Engineer's Way, Charlottesville, VA 22903</li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- Copyright -->
    <div class = "text-center" style="background-color: rgba(0, 0, 0, 0.2);">
        <br>
      <p>&copy; 2023 Tutor Me</p>
    </div>
  
  </footer>
  
  
             
</body>



