{% load socialaccount %}
{% block content %}
<h1>Welcome to A25's website</h1>
<div class = "navigation" style = "margin:auto; width:50%; border: 2px solid rgb(35, 190, 175)">
    <ul class="nav justify-content-end">

        <li class="nav-item">
            <a href="{% provider_login_url 'google'%}">Click here to start</a>
            {% if user.is_authenticated %}
                {% if user.type == "tut" %}
                    <a href="/{{user.email}}/tutor">Profile</a>
                {% else %}
                    <a href="/{{user.email}}/student">Profile</a>
                {% endif %}
            {% endif %}
        </li>
      </ul>

</div>
{% endblock content %}
