<div class = "mainListClassesContainer", >
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <div class = "listContainer">
                
                {% for class in classesFiltered %}
                <form action="{% url 'welcome:addToSchedule' user.id %}" method="post"> 
                {% csrf_token %}
                <input type = "radio" name = "class" value = '{{class.subject}} {{class.catalog_nbr}}'>
                <label for="class{{ forloop.counter }}">{{class.subject}} {{class.catalog_nbr}}: {{class.descr}}</label><br>               
                {% endfor %}    
            </div>
            {% if user.type == 'tut'%}
            <input class="btn btn-primary" type="submit" value="add to tutor schedule"> 
            {% else %}
            <input class="btn btn-primary" type="submit" value="find tutor">  
        </form>    
            {% endif %}
</div>

