<div class = "mainSelectClassesContainer", >
    <form action="{% url 'welcome:findClass'%}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Find class</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}       
            <select id="class" name="class">
                {% for class in subjects %}
                    <option value = '{{class.subject}}'>{{class.subject}}</option>
                {% endfor %}
              </select>
            <input type = "text" placeholder = "course number (optional)" name = "crsNum"/>
        </fieldset>
        <input class="btn btn-primary" type="submit" value="Submit">
        </form>
</div>